#content {margin:27px;}
/* text-shadow */
/*
h1,h2,textarea, input[type=text],a,#header a:hover,input[type=submit],input[type=button],input[type=reset],.post_date,.public_info,.sidlink,.comment_title,.comment_info,#menu li.menu-current a {
	filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=0, Color=#000000)
	progid:DXImageTransform.Microsoft.Glow(Strength=3, Color=#000000);;
	-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(Color=#000000, OffX=0, OffY=0) progid:DXImageTransform.Microsoft.Glow(Strength=3, Color=#000000);";
}

p,.comment_text,.mod_download_gallery_th_f,button.mod_download_gallery_btn_f, button.mod_download_gallery_btn_ra_f,.mod_download_gallery_dgheader_f,.mod_download_gallery_line_f,.mod_download_gallery_line_f,.mod_download_gallery_line_rightalign_f {
	filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=0, Color=#000000)
	progid:DXImageTransform.Microsoft.Glow(Strength=14, Color=#000000);;
	-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(Color=#000000, OffX=0, OffY=0) progid:DXImageTransform.Microsoft.Glow(Strength=14, Color=#000000);";
}*/

#header .description {
	filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color=#000000)
	progid:DXImageTransform.Microsoft.Glow(Strength=1, Color=#000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(Color=#000000, OffX=1, OffY=1) progid:DXImageTransform.Microsoft.Glow(Strength=1, Color=#000000);";
}
#header .description:not([dummy]){
	filter: none;
}
/* box-shadow */
textarea, input[type=text] {
	/*filter: progid:DXImageTransform.Microsoft.Shadow(color='#7F000000', Direction=145, Strength=3);*/
}

/* gradient */
input[type=submit],input[type=button],input[type=reset] {
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A5B5C0', endColorstr='#325871');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A5B5C0', endColorstr='#325871')";
	background-image:-ms-linear-gradient(top, #A5B5C0, #325871);
	zoom:1;
}

.sidebar input[type=text] {
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#D5D5D5');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#D5D5D5')";
	background-image:-ms-linear-gradient(#FFFFFF 4.3%, #F4F4F4 8.5%, #F4F4F4 91.6%, #D5D5D5 9.6%);
	zoom:1;
}

root:input[type=submit],root:input[type=button],root:input[type=reset],.sidebar input[type=text] {
	filter: none\0/IE9;
}

/* background rgba*/
textarea, input[type=text] {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33181818,endColorstr=#33181818);
	zoom: 1;
}
.post {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F627A8E,endColorstr=#7F627A8E);
	zoom: 1;
}
.footer {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FA1AFBA,endColorstr=#7FA1AFBA);
	zoom: 1;
}
.sidebar input[type=text] {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	zoom: 1;
}
.comment_text,.mod_download_gallery_th_f {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FA1AFBA,endColorstr=#7FA1AFBA);
	zoom: 1;
}
/*
<!--[if gte IE 9]>
<style type="text/css">
.gradient {
	filter: none\0/IE9;
}
</style>
<![endif]-->
*/